@model ELMAR.DevHtmlHelper.Models.Usuario
<!--<h3>Alterar Senha</h3>-->
@using (Html.BeginForm("AlterarSenha", "Usuario"))
        { 
        @Html.HiddenFor(model => model.Codigo)
        @Html.HiddenFor(model => model.Email)
        @Html.Hidden("Login", (string)ViewBag.Login)
        @Html.Hidden("Perfil", (string)ViewBag.Perfil)
        @Html.Hidden("RedirectTo", ViewData["RedirectTo"])
        @Html.Hidden("isPartial", (bool)ViewBag.isPartial)
    
        <text>Nova Senha:</text>
        <p>@Html.Password("Senha") @Html.ValidationMessageFor(model => model.Senha)</p>
        <text>Confirme a Senha:</text>
        <p>@Html.Password("ConfirmSenha") @Html.ValidationMessageFor(model => model.ConfirmSenha)</p>

        <input type="submit" value="SALVAR" onclick="return confirmarAcao('')"/>  
        @*if(Session["PERFIL"].ToString().Equals("ADMIN")){
            @Html.ActionLink("Voltar", "Listar", "Participante")            
        }
        else{
            @Html.ActionLink("Voltar", "Create", "Participante")
        }*@
     }     


