@{ var idFormExport = "formExport_"+ViewData["gridName"]; }
@using(Html.BeginForm("GridViewPartial", "DevHelper", FormMethod.Post, new { id = idFormExport, style = "border:none" } ))
{
    TempData["SessionModel" + ViewData["gridName"] + ViewBag.CTX] = Model;
    <input type="hidden" name="dtSource" value="@Model" />
    <!--<input type="hidden" name="sqlCode" value="@ViewData["sqlCode"]" />-->
    <input type="hidden" name="gridName" value="@ViewData["gridName"]" />
    <input type="hidden" name="gridTitulo" value="@ViewData["gridTitulo"]" />
    <input type="hidden" name="gridKey" value="@ViewData["gridKey"]" />
    <input type="hidden" name="Tema" value="@ViewData["Tema"]" />
    <input type="hidden" name="tamPagina" value="@ViewData["gridTamPagina"]" />
    <input type="hidden" name="Controller" value="@ViewData["Controller"]" />
    <input type="hidden" name="Action" value="@ViewData["Action"]" />
    <input type="hidden" name="Filtros" value="@ViewData["Filtros"]" />
    <input type="hidden" name="Agrupadores" id="Agrupadores" value="@ViewData["Agrupadores"]"/>
    <input type="hidden" name="Expanded" value="@ViewData["Expanded"]" />
    <input type="hidden" name="Totalizadores" value="@ViewData["Totalizadores"]" />
    <input type="hidden" name="ColunasOcultas" value="@ViewData["ColunasOcultas"]" />  
    <input type="hidden" name="ColunasActions" value="@ViewData["ColunasActions"]" />
    <input type="hidden" name="ExibeExportador" value="@ViewData["ExibeExportador"]" />
    <input type="hidden" name="ExportHeaderText" value="@ViewData["ExportHeaderText"]" />
    <input type="hidden" name="bdConnection" value="@ViewData["bdConnection"]" />    
    <input type="hidden" id="OutputFormat" name="OutputFormat" />                
    <input type="hidden" name="CTX" value="@ViewData["CTX"]" />    
    <div id="@idFormExport" class ="ExportBox">
        <!--<strong>EXPORTAR:</strong>&nbsp;&nbsp;&nbsp;-->
        <input type="image" src="~/Content/DevHelper/Images/pdf.png" name="OutputFormat1" value="PDF" onclick="formExportClick('@idFormExport', this.value)" title="Exportar PDF" />
        <input type="image" src="~/Content/DevHelper/Images/rtf.png" name="OutputFormat2" value="RTF" onclick="formExportClick('@idFormExport', this.value)" title="Exportar WORD" />        
        <input type="image" src="~/Content/DevHelper/Images/xls.png" name="OutputFormat3" value="XLS" onclick="formExportClick('@idFormExport', this.value)" title="Exportar XLS" />
        <input type="image" src="~/Content/DevHelper/Images/csv.png" name="OutputFormat4" value="CSV" onclick="formExportClick('@idFormExport', this.value)" title="Exportar CSV" />
        <input type="image" src="~/Content/DevHelper/Images/txt.png" name="OutputFormat5" value="TXT" onclick="formExportClick('@idFormExport', this.value)" title="Exportar TXT" />        
    </div>
}
<br /><br /><br />